*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    background-color: white;
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 1500px;
    height: 75px;
    padding: 5px 0;
}

.menu1{
    width: 400px;
    float: left;
    height: 70px;
    margin-top: 0px;
    margin-bottom: 30px;
    white-space: nowrap;
}

.menu2{
    width: 400px;
    float: left;
    height: 70px;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: 50px;
    white-space: nowrap;
}


ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 15px;
}

ul li a{
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: lighter;
    transition: 0.4s ease-in-out;
}
.dropdown {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: lighter;
    transition: 0.4s ease-in-out;

}

#callusbutton{
    background-color: green;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}
.contain{
    max-width: 800px;
    height: 10px;
    padding: 20px;
    background-color:rgb(37, 126, 194);
    border-radius: 1px;
    margin-left: 20px;
}

.container{
    max-width: 800px;
    height: 300px;
    margin: 0px 10px 20px 20px;
    padding: 20px;
    background-color:rgb(60, 169, 252);
    border-radius: 1px;
    
}

.large{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: arial;
    color: white;
    text-align: left;
    margin-left: 30px;
    
}

.cursor {
    width: 2px;
    height: 30px;
    background-color: white;
    animation: blink 1s infinite;
    margin-left: 560px;
    margin-top: -26px;
}

@keyframes blink {
    0%, 50% {
        opacity: 0;
    }
    51%, 100% {
        opacity: 1;
    }
}

.small{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: arial;
    color: white;
    text-align: left;
    margin-left: 30px;
}

#search-button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    
}
#search-bar{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 1px;
    font-size: 10px;
    width: 250px;
    margin-bottom: 30px;
    margin-left: 30px;
}



.container1{
    max-width: 200px;
    height: 160px;
    background-color: yellow;
    padding: 30px;
    position: relative;
    margin-left: 900px;
    top:-360px;
    margin-top: -50px;
}

.Img{
    width: 0%;
    float: left;
    height: 5px;
    margin-right: 10px;
    image-orientation: initial;
    
}
.large1{
    font-size: 20px;
    color: black;
    font-style: italic;

}

.small1{
    font-size: 15px;
    color: black;
    font-style: italic;
}
.book{
        background-color: yellow;
        color: black;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        height: 30px;
        width: 220px;
        outline:none;
        border: 1px solid #000;
        
}

.deals{
    font-size: 20px;
    color:black;
    margin-right: 100px;
    margin-left: -20px;
}

.deals_container{
    direction: flex;
    margin-right: 50px;
    margin-top: 10px;
}
.view{
    font-size: 15px;
    color:black;
    margin-right: -90px;
    margin-left: 150px;
    margin-top: -20px;
}

.container2{
    display: grid;
    grid-template-columns: auto;
    font-style: normal;
    color: black;
    padding: 20%;
    position: relative;
    margin-top: -30px;
    margin-left: -70px;
}
.grid-item{
    width: 225px;
    height: 20px;
    background-color: rgb(194, 212, 235);
    border: 1px solid rgb(166, 164, 164);
    padding: 20px;
    font-size: 17px; 
    text-align: justify;
}

.A{
    font-size: 20px;
    color: dodgerblue;
    font-style: oblique;
    background-color: white;
    display: inline-block;
    margin-left: -850px;
}
.B{
    font-size: 20px;
    color: dodgerblue;
    font-style: oblique;
    background-color: white;
    display: inline-block;
    margin-left: -600px;

}

.C{
    font-size: 20px;
    color: dodgerblue;
    font-style: oblique;
    background-color: white;
    display: inline-block;
    margin-left: -450px;

}

.D{
    font-size: 20px;
    color: dodgerblue;
    font-style: oblique;
    background-color: white;
    display: inline-block;
    margin-left: -250px;
}